<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<meta charset="UTF-8" />



<th:block layout:fragment="content">
	<h1 th:text="${type}+'>작성하기'"/><br />
	카테고리 
	<select name="category">
	    <option th:each="categories : ${categories}" th:value="${categories.name()}" th:text="${categories.name()}" th:selected="${ct == categories.name()}"/>
	</select>
	<br />
	<div>
		<form action="/post_add" method="post">
			<input type="hidden" id="type" name="type"  th:value="${type}">
			<input type="hidden" id="categoryType" name="categoryType"  th:value="${ct}">
			<input type="text" name="title"/>
			<button type="submit">글쓰기</button>
		</form>
	</div>
	



</th:block>



<th:block layout:fragment="customScript">

</th:block>
</html>