	footer {
       	position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #EBEBEB;
        padding: 30px 30px 10px;
        text-align: left;
    }
        
    .footerContain {
        display: inline-block;
        text-align: left;
        margin-right: 10px;
        margin-left: 0;
    }
    
    .company-info {
        display: inline-block;
        vertical-align: top;
        margin-left: 0;
    }
    .footerContain img {
        margin-right: 30px;
    }
    .company-info .company-text {
        margin: 0; 
        color: #8A8A8A;
    }
    
    .company-info .company-copy {
        margin-top: 20px;
        color : #B0B0B0;
    }
    
    .seller-link {
	    position: absolute;
	    top: 20px;
	    right: 40px;
	    color: #727272;
	    text-decoration: none;
	    font-size: 20px;
}
    
