<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<th:block layout:fragment="customStyle">
<style th:inline="css" type="text/css">
	
	.login-select-main {
		margin: 140px 20px 0;
	}
	
	.login-select-wrapper {
		text-align: center;
	}
	
	.login-select-wrapper h1.title {
		margin-bottom: 7.5vh;
	}
	
	.join-form-wrapper {
		padding: 0 35vh;
	}
	
	
</style>

</th:block>
<th:block layout:fragment="content">
	
	<div class="login-select-main">
		<div class="login-select-wrapper">
			<h1 class="title">구매자 회원가입</h1>
			
			<div class="join-form-wrapper">
				<form action="/join/consumer" method="post" id="join-form" enctype="multipart/form-data">
					<input type="email" name="email" class="form-control form-control-lg mb-1" placeholder="*이메일" required/>
					<input type="password" name="password" class="form-control form-control-lg mb-1" placeholder="*비밀번호" required/>
					<input type="password" id="password-check" class="form-control form-control-lg mb-1" placeholder="*비밀번호 확인" required/>
					<input type="text" name="name" class="form-control form-control-lg mb-3" placeholder="*이름" required/>
					<label for="profile-photo" class="form-label" style="display: block; text-align: start;">프로필사진</label>
					<input type="file" name="profilePhotoFile" id="profile-photo" class="form-control form-control-lg mb-4"/>
					<button type="submit" class="btn btn-primary btn-lg"> 회원가입 </button>
				</form>
			</div>
			
		</div>
	</div>
	
</th:block>
<th:block layout:fragment="customScript">
	<script th:inline="javascript" type="text/javascript">
		$(document).ready(() => {
			$("#join-form").submit( function(e) {
				if( $("input[name='password']").val() != $("#password-check").val() ) {
					e.preventDefault();
					alert("비밀번호가 맞지 않습니다.");
					$("#password-check").focus();
				}
				
			});
		});
	</script>
</th:block>
    
    