<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<th:block layout:fragment="customStyle">
<style th:inline="css" type="text/css">
	
	.login-select-main {
		margin: 140px 20px 0;
		margin-bottom: 60px;
	}
	
	.login-select-wrapper {
		text-align: center;
	}
	
	.login-select-wrapper h1.title {
		margin-bottom: 7.5vh;
	}
	
	.join-form-wrapper{
		padding: 0 35vh;
	}
	
	.tel-input-wrapper {
		display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    justify-content: space-between;
	    align-items: center;
	}
	
	input.tel-input {
		width: 190px;
	}
	
	.isbiz-input-wrapper {
		display: flex!important;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    align-items: center;
	    gap: 12vh;
	}
	
</style>

</th:block>
<th:block layout:fragment="content">
	
	<div class="login-select-main">
		<div class="login-select-wrapper">
			<h1 class="title">판매자 회원가입</h1>
			
			<div class="join-form-wrapper">
				<form action="/join/seller" method="post" id="join-form" enctype="multipart/form-data">
					<div class="email-input-wrapper mb-1">
						<div class="d-flex" style="gap: 10px; flex-direction: row; flex-wrap: nowrap;">
							<input type="hidden" id="email-check" value="false"/>
							<input type="email" name="email" class="form-control form-control-lg" style="width:75%" placeholder="*이메일" required/>
							<button type="button" class="btn btn-lg btn-success" style="width:25%" id="user-exists-check-button">중복 확인</button>
						</div>
						<p class="email-check-message email-able-message">사용가능한 이메일입니다.</p>
						<p class="email-check-message email-exist-message">이미 사용중인 이메일 입니다.</p>
					</div>
					<input type="password" name="password" class="form-control form-control-lg mb-1" placeholder="비밀번호" required/>
					<input type="password" id="password-check" class="form-control form-control-lg mb-1" placeholder="비밀번호 확인" required/>
					<input type="text" name="name" class="form-control form-control-lg mb-3" placeholder="이름" required/>
					
					<div class="tel-input-wrapper mb-5">
						<input type="text" name="tel1" class="form-control form-control-lg tel-input" placeholder="연락처" required>
						<span>-</span>
						<input type="text" name="tel2" class="form-control form-control-lg tel-input" required>
						<span>-</span>
						<input type="text" name="tel3" class="form-control form-control-lg tel-input" required>
					</div>
					
					<div class="mb-1">
						<div class="form-control form-control-lg isbiz-input-wrapper mb-1">
							<span class="">사업자</span>
							<div>
								<input type="radio" name="isBiz" id="isBizTrue" class="form-check-input" value="true"/>
								<label for="isBizTrue" class="form-check-label">예</label>
							</div>
							<div>
								<input type="radio" name="isBiz" id="isBizFalse" class="form-check-input" value="false" checked/>
								<label for="isBizFalse" class="form-check-label">아니요</label>
							</div>
						</div>
						<input type="text" name="brokerName" class="form-control form-control-lg" placeholder="부동산명" style="display:none;"/>
					</div>
					<label for="profile-photo" class="form-label" style="display: block; text-align: start;">프로필사진</label>
					<input type="file" name="profilePhotoFile" id="profile-photo" class="form-control form-control-lg mb-4"/>
					
					<button type="submit" class="btn btn-primary btn-lg mb-1"> 회원가입 </button>
					<p>판매자 승인 후 이용 가능합니다.</p>
				</form>
			</div>
			
		</div>
	</div>
	
</th:block>
<th:block layout:fragment="customScript">
	<script th:inline="javascript" type="text/javascript">
		$(document).ready(() => {
			
			/*초기값 설정*/
			 if($("input[name='isBiz']:checked").val() == "true"){
				$("input[name='brokerName']").show();
			 } else if($("input[name='isBiz']:checked").val() == "false") {
				$("input[name='brokerName']").hide();
				$("input[name='brokerName']").val(null);
			 }
			
			
			/*사업자 여부에 따라 부동산명 표시 여부*/
			$("input[name='isBiz']").change(function(e){
				if(e.target.value == 'true') {
					$("input[name='brokerName']").show();
				} else if(e.target.value == 'false') {
					$("input[name='brokerName']").hide();
					$("input[name='brokerName']").val(null);
				}
			});
			
			/**/
			$("#join-form").submit( function(e) {
				
				if( $("input[name='password']").val() != $("#password-check").val() ) {
					e.preventDefault();
					alert("비밀번호가 맞지 않습니다.");
					$("#password-check").focus();
				}
				
				let tel1 = $("input[name='tel1']");
				if( (tel1.val().length >= 2 && tel1.val().length <= 4) === false ){
					e.preventDefault();
					alert("연락처의 첫번째는 2에서 4자리까지만 입력할 수 있습니다.");
					te1.focus();
				}
				
				let tel2 = $("input[name='tel2']");
				if(tel2.val().length !== 4 ) {
					e.preventDefault();
					alert("연락처의 중간은 4자리가 입력되어야합니다.");
					tel2.focus();
				}
				
				let tel3 = $("input[name='tel3']");
				if(tel3.val().length !== 4 ) {
					e.preventDefault();
					alert("연락처의 끝은 4자리가 입력되어야합니다.");
					tel3.focus();
				}
				
				
			});
			
		});
	</script>
</th:block>
    
    