<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
	<title>Insert title here</title>
</head>
<body>
	<h1>매물등록</h1>
	<div id="roomInsert">
		<form id="saveForm" action="room_add" method="post" enctype="multipart/form-data" autocomplete="off">
		    <div>
				<input type="hidden" name="seller" value="1" /> <br />
		        방 종류 <select name="type">
		            <option value="원룸" selected>원룸</option>
		            <option value="오피스텔">오피스텔</option>
		            <option value="고시원">고시원</option>
		        </select> <br />
		        매물 간단소개 <input type="text" name="intro" value="간단소개"/> <br /> 
		        매물 상세소개 <textarea name="description"></textarea> <br />
		        건물명 <input type="text" name="buildingName"/> <br />
		        주소 <input type="text" name="address" value="주소"/> <br />
		        호수 <input type="text" name="roomNumber"/> <br />
		        월/전세 &nbsp 월세 <input type="radio" name="costType" value="월세" checked >
		            &nbsp 전세 <input type="radio" name="costType" value="전세"> <br />
		        <div id="monthlyCost">
		            월세 <input type="number" name="monthCost" value="0"/>만 <br />
		        </div>
		        보증금 <input type="number" name="deposit" value="0"/>만 <br />
		        관리비 <input type="number" name="manageCost" value="0"/>만 <br />
		        면적 <input type="number" name="size" value="0"/>㎡ <br />
		        방향 <input type="text" name="direction"/> <br />
		        교통정보 <input type="text" name="transportInfo" /> <br />
		        건물 층수 <input type="number" name="totalFloor" value="0"/> <br />
		        매물 층수 <input type="number" name="roomFloor" value="0"/> <br />
		        즉시입주 &nbsp 가능 <input type="radio" name="isRoomIn" value="true">
		                     &nbsp 불가능 <input type="radio" name="isRoomIn" value="false" checked> <br />
		        안전 <input type="text" name="securityInfo"/> <br />
		        엘리베이터 &nbsp 있음 <input type="radio" name="isElevator" value="true">
		                   &nbsp 없음 <input type="radio" name="isElevator" value="false" checked> <br />
		        냉난방 <input type="text" name="heatInfo"/> <br />
		        주차장 <input type="text" name="parkingInfo"/> <br />
		        인터넷 <input type="text" name="internetInfo"/> <br />
		        성별분리 <input type="text" name="genderInfo"/> <br />
		        <div style="border: 1px solid gray; width:400px">
		    		<h3>공용 옵션</h3>
		    		<th:block th:each="optionType : ${optionTypes}" th:if="${optionType.isShare == true}">
		    			<th:block th:if="${optionType.sortOrder == 6}"><br /></th:block>
					    <label>
					        <input type="checkbox" th:name="'optionType'" th:value="${optionType.optionType}" />
					        <span th:text="${optionType.optionName}"></span>
					    </label>
					</th:block>
		    	</div>
		    	<div style="border: 1px solid gray; width:400px">
		    		<h3>방 옵션</h3>
		    		<th:block th:each="optionType : ${optionTypes}" th:if="${optionType.isShare == false}">
					    <label>
					        <input type="checkbox" th:name="'optionType'" th:value="${optionType.optionType}" />
					        <span th:text="${optionType.optionName}"></span>
					    </label>
					</th:block>
		    	</div>
		        <div id="offer" style="display: none;">
		            제공식사 <input type="text" name="foodOffer"/> <br />
		            제공비품 <input type="text" name="amenityOffer"/> <br />
		        </div>
		        <br />
		        이미지등록<br />
		        <div class="file_list">
	                <div>
	                    <div class="file_input">
	                        <input type="text" name="fileName" readonly />
	                        <label> 첨부파일
	                            <input type="file" name="uploadFile" onchange="selectFile(this);" style="display:none;"/>
	                        </label>
	                    </div>
	                    <button type="button" onclick="removeFile(this);" class="btns del_btn"><span>삭제</span></button>
	                    <button type="button" onclick="addFile();" class="btns fn_add_btn"><span>파일 추가</span></button>
	                </div>
	            </div>
		    	
		        
		        
		    </div>
		    <button type="submit">등록하기</button>
		</form>
	</div>
	
	
	
	<script>
		var totalFileCount = 5;
		var fileCount = 1;
		
		// 파일 선택
	    function selectFile(element) {
			
	        const file = element.files[0];	//선택된 파일정보
	        const filename = element.closest('.file_input').firstElementChild;
	        							//파일명을 표시하는 입력 요소를 가리킴.
	        							// <div class="file_input">의 첫번째 자식요소에 파일이름을 표시
	
	        // 1. 파일 선택 창에서 취소 버튼이 클릭된 경우
	        //	  파일명이 안보이게 하겠다.
	        if ( !file ) {
	            filename.value = '';
	            return false;
	        }
	
	        // 2. 파일 크기가 10MB를 초과하는 경우
	        const fileSize = Math.floor(file.size / 1024 / 1024);
	        if (fileSize > 10) {
	            alert('10MB 이하의 파일로 업로드해 주세요.');
	            filename.value = '';
	            element.value = '';
	            return false;
	        }
	
	        // 3. 파일명 지정
	        filename.value = file.name;
	    }
		
		// 파일 추가
	    function addFile() {
			
	    	if(fileCount == totalFileCount) {
				alert('최대 5개까지 등록 가능합니다');
				return false;
			}
			
	        const fileDiv = document.createElement('div');
	        fileDiv.innerHTML =`
	        	<div class="file_input">
	                <input type="text" readonly />
	                <label> 첨부파일
	                    <input type="file" name="uploadFile" onchange="selectFile(this);" style="display:none;"/>
	                </label>
	            </div>
	            <button type="button" onclick="removeFile(this);" class="btns del_btn"><span>삭제</span></button>
	        `;
	        document.querySelector('.file_list').appendChild(fileDiv);
	        
	     	// 파일개수 제한
	        fileCount = fileCount+1;
	    }
		
	 	// 파일 삭제
	    function removeFile(element) {
	        const fileAddBtn = element.nextElementSibling;
	        if (fileAddBtn) {
	            const inputs = element.previousElementSibling.querySelectorAll('input');
	            inputs.forEach(input => input.value = '')
	            return false;
	        }
	        element.parentElement.remove();
	        
	        fileCount = fileCount-1;
	    }
	</script>
	



	<!-- 월/전세 선택에 따른 월세 입력칸 보이기/숨기기 -->
	<script>
	    /*단일 라디오 버튼 : getElementById 사용	ex) const selectedValue = document.getElementById('costType');
	      												id속성이 costType인 요소를 선택
		  여러 동일한 name속성 가진 라디오 버튼 : querySelector 사용
		  											ex) const selectedValue = document.querySelector('input[name="costType"]:checked').value
		  												querySelector(css선택자. 문서에서 요소 선택하는 메서드)를 사용해 체크된 라디오 버튼의 값을 가져옴.
		  												'input[name="costType"]:checked' -> name속성이 costType인 체크된요소 선택
		  												value속성을 사용해 선택된 요소의 값(value)을 가져옴 */
	
	    
	    const monthlyCostDiv = document.getElementById('monthlyCost');
	    const radioButtons = document.querySelectorAll('input[name="costType"]');
		
	    // costType 라디오버튼 체크값에 따른 월세input 보이기/숨기기 기능
	    function toggleMonthlyCost() {
	      const selectedValue = document.querySelector('input[name="costType"]:checked').value;

	      if (selectedValue === '월세') {
	        monthlyCostDiv.style.display = 'block';
	      } else {
	        monthlyCostDiv.style.display = 'none';
	      }
	    }
	    
	 	// 라디오버튼에 변경이벤트가 감지되면 toggleMonthlyCost()을 실행해서 업데이트
	    for (let i = 0; i < radioButtons.length; i++) {
	      radioButtons[i].addEventListener('change', toggleMonthlyCost);
	    }
	</script>
		
	<!-- 방종류 선택에 따른 제공 입력칸 보이기/숨기기 -->
	<script>
	    const typeSelect = document.getElementsByName('type')[0];
	    const offerDiv = document.getElementById('offer');
	
	    function toggleOfferDiv() {
	        if (typeSelect.value === '고시원') {
	            offerDiv.style.display = 'block';
	        } else {
	            offerDiv.style.display = 'none';
	        }
	    }
	
	    typeSelect.addEventListener('change', toggleOfferDiv);
	</script>

</body>
</html>