<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/mypage_layout}">
<th:block layout:fragment="customStyle">
<style th:inline="css" type="text/css">


.profile-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}


</style>

</th:block>
<th:block layout:fragment="content">
    <h1>회원 정보</h1>
    <form id="userInfoForm" action="/memberInfo" method="post" enctype="multipart/form-data">
      <div>
<div class="profile-image">
    <img id="profileImage" th:src="@{'/images/' + ${consumerUser.profilePhoto}}" alt="프로필">
</div>
        <input type="file" id="imageUpload" name="imageUpload" style="display: none;" accept="image/*">
        <button type="button" onclick="document.getElementById('imageUpload').click();">이미지 변경</button>
      </div>
      <div>
        <label for="email">이메일:</label>
        <input type="text" id="email" name="email" th:value="${consumerUser.email}" readonly>
      </div>
      <div>
        <label for="name">이름:</label>
        <input type="text" id="name" name="name" th:value="${consumerUser.name}" readonly>
      </div>
      <div>
        <label for="password">비밀번호 변경:</label>
<input type="password" id="password" name="password" th:value="${consumerUser.password}" autocomplete="current-password">
      </div>
      <div>
        <button type="submit">수정</button>
        <button type="button" onclick="confirmMemberDelete()">탈퇴</button>
      </div>
    </form>
    <form id="memberDeleteForm" action="/memberDelete" method="post">
      <input type="hidden" name="_method" value="DELETE">
    </form>
  </th:block>
</th:block>
<th:block layout:fragment="customScript">
	<script th:inline="javascript" type="text/javascript">
    function confirmMemberDelete() {
        if (confirm("탈퇴하시겠습니까?")) {
          alert("탈퇴되었습니다.");
          document.getElementById('memberDeleteForm').submit();
          
        }
      }
    document.getElementById('imageUpload').addEventListener('change', function(event) {
        var file = event.target.files[0];
        var reader = new FileReader();
        reader.onload = function(e) {
            document.getElementById('profileImage').src = e.target.result;
        };
        reader.readAsDataURL(file);
    });
    </script>
</th:block>

    