.search-main-wrapper {
			width: 95vw;
			min-width: 1000px;
			margin: 10px auto;
			padding-top: 10px;
		}
		
		.search-wrapper {
			margin-bottom: 12px;
		}
		
		.search-result-wrapper {
			height: calc(100vh - 210px);
			display: flex;
		}
		
		.room-list {
			width: 330px;
			border: 1px solid blue;
			overflow-y: scroll;
		    -ms-overflow-style: none; /* IE and Edge */
		    scrollbar-width: none; /* Firefox */
		}
		.room-list::-webkit-scrollbar {
		    display: none; /* Chrome, Safari, Opera*/
		}
		
		.map-wrapper {
			height: 100%;
			width: calc(100% - 330px);
			border: 1px solid red;
		}
		
		.room-item {
			height: 160px;
			border: 1px solid green;
			margin: 0px;
			padding: 10px;
		}
		
		
		.room-photo-wrapper {
			margin-right: 10px;
			height: 100%;
			float: left;
		}
		
		.room-image {
			height: 100%;
			width: 130px;
			object-fit: cover;
		}
		
		.room-info-wrapper {
			
		}
		
		.room-info-wrapper p {
			margin: unset;
		}
		
		p.room-cost {
			font-size: 1.32rem;
			font-weight: bold;
			line-height: 100%;
			padding-bottom: 3px;
		}
		
		.room-item-type {
			color: gray;
			padding-bottom: 6px;
		}
		
		.room-item-intro{
			line-height:115%;
		}