
.all {
	
   width: 100%; 
  border: 3px solid;
  border-color:#F3F3F3;
   padding:50px;
   padding-left:150px;
   padding-right:150px;
   margin-bottom:40px;
   
}


.costinfo-tag {
    font-weight: bold;
}



.detailinfo-tag {
	font-weight: bold;
}

.font-1 {
	font-weight: bold;
}

.font-2 {
	font-weight: bold;
}

.optionmain {
	font-weight: bold;
}

.all-option {
	font-weight: bold;
	
}

.sub-option {
	font-weight: bold;
}

.location {
	font-weight: bold;
}

.real-review{
	font-weight: bold;
}
.detail-intro {
	font-weight: bold;
}
.other-room-seller {
	font-weight: bold;
}

.sidemenu {
	position: sticky;
	 border: 1px solid;
	 border-color:#F3F3F3;
	 min-height: 100%;
	  width:30%; 
	 
}

.side-under {
	position: sticky;
	top:100px;
	padding:30px;
	border: solid;
	border-color: #d3d3d3;
	text-align: center;

}

.main {
	display: flex;
	justify-content: space-between;
}

.roominfo {
	width: 70%;
	height:100%;
}


.roominfo-wrapper {
	list-style:none;
	 padding: 0; /* <ul> 요소의 기본 패딩을 없앰 */
}

ul.roominfo-wrapper li {
    padding: 18px 15px; 
    display:flex;
    border-bottom: 2px solid lightgray; 
    margin-right:120px;
}

ul.roominfo-wrapper li span:nth-child(1){
	width:40%;
} 
 
 ul.roominfo-wrapper li span:nth-child(2){
 	font-weight:normal;
	width:60%;
}   

.room-detail-wrapper {
	list-style:none;
	padding: 0;
}

ul.room-detail-wrapper li {
    padding:18px 15px;
    display:flex;
    border-bottom: 2px solid lightgray; 
    margin-right:120px;
}
ul.room-detail-wrapper li span:nth-child(1){
	width:40%;	
}

ul.room-detail-wrapper li span:nth-child(2){
	font-weight:normal;
	width:60%;	
}
.costinfo-tag {
	margin-bottom:35px;
	
}

.detailinfo-tag {
	margin-bottom:35px;
}

.optionmain {
	margin-bottom:35px;
}

.location {
	margin-top:100px;
	margin-bottom:30px;
	
}

.detail-wrapper {
	margin-top:90px;
	margin-bottom:50px;
	
}

.detail-intro {
	margin-top:30px;
	margin-right:20px;
	padding:30px;
	background-color:#F3F3F3;
	
}

/* .otherroom-wrapper {
	display:flex;
	flex-wrap:nowrap;

}
 */
 
 .otherroom-wrapper {
 	display: flex;
 }
.otherroom {
    display: flex;
    flex-direction: column;
}
.otherroom-sub{
	display: flex;
	justify-content: space-between;
}

.imgwrapper {
	    
}

.favoriteAddressContainer{
		display: flex;
		justify-content: flex-end;
}
	
.favoriteAddress{
		margin-right: 10px;
		font-size: 5px;
		color: #979797;
}

.otherroomphoto {
	height:160px;
	width:170px;
	
}
.review-wrapper {
	display:flex;
	justify-content: space-between;
}


/* .bi-star-fill {
	color: #86C69F;
    margin-right: 1px;
} */

 .review-small-1 i {
	color: #86C69F;
    margin-right: 1px;
} 
/* 리뷰 기능 css */

.rating {
  display: inline-block;
   border: 0;
  margin-right: 15px;
   direction: rtl; 
}

.rating > input {
  display: none;
   direction: ltr;
}

.rating > label {
  color: #ddd;
}

  .rating > label:before {
  display: inline-block;
  font-size: 1rem;
  padding: .3rem .2rem;
  margin: 0;
  cursor: pointer;
  color: #86C69F  !important ;
}  

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {

 color: #86C69F  !important; 
}

.rating input:checked + .rating label:hover,
.rating input input:checked ~ label:hover,
.rating input:checked ~ .rating label:hover ~ label,
.rating label:hover ~ input:checked ~ label {
	 color: #86C69F  !important;
}
/*리뷰 css끝*/

.big-review {
	
	border: 2px solid;
	border-color:#F3F3F3;
	 padding:10px;
	
}

.review-small-1 {
	background-color:#F3F3F3;
	
}

.review-small-2 {
	background-color:#F3F3F3;
	
}

.sidemenu-wrapper {
	display:flex;
	justify-content: center; 
    gap:5px;

}
.favorite-button {

}
.favorite-button > button {
	border: unset;
	background: unset;
	margin: 0;
	border: 0;
} 

.favorite-button  i{
	color: #dc3545;
	font-size: 1.5rem;
}

.side-under-wrapper {
	display: flex;
    justify-content: center;
	
}
.side-under-wrapper td {
    margin: 20px;
}


.review1-date {
	text-align: right;
	 position: absolute;
	top: 0;
    right:10px;
       
}

.review-small-1 {
	position:relative;
}

.telephone-container {
    display: flex;
    align-items: center;
}
.bi-telephone-fill {
	font-size: 24px; 
    margin-right: 10px; 
}

.btn-primary{
	background-color:white;
	color:#A6D795;
	 border: 2px solid #A6D795;
	 
}
.btn-primary-write {
	margin-right: 10px;
	background-color:white;
	color:#A6D795;
	 border: 2px solid #A6D795;
	 
}

.btn-primary:hover {
    background-color: #86C69F; 
    color: white; 
    border: 2px solid #86C69F;
}

.btn-primary-write:hover {
    background-color: #86C69F; 
    color: white; 
    border: 2px solid #86C69F;
}


.building-name {
    font-size: 20px;
    text-align: left; 
    margin-left: 10px;
}


.modal-body {
	height:300px;
	
}

.modal-content {
	width: 360px ;
	height: 400px;
}

.sub-coment {
	font-size:15px;
}

.bi-box-arrow-up-right {
	text-align: right;
	justify-content: flex-end;
	
}
.all-option-flex {
	display: flex;
}
.one-option-flex {
	display: flex;
}

.all-option {
	margin-right: 140px;
}
.sub-option {
	margin-right: 140px;
}

.all-option-flex > div:nth-child(1) {
	width:40%;
}

.sub-option-flex > div:nth-child(1) {
	width:40%;
}


.option-flex {
	display: flex;
    flex-wrap: wrap;
    gap:10px;
}
.option-flex-2 {
	display: flex;
    flex-wrap: wrap;
    gap:10px;
}
